src/main/mule/travis-ci-demo-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="43dc7f11-fd49-423b-8b55-5a4a566fb3e0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="travis-ci-demo-appFlow" doc:id="5ed16c7e-947c-47a1-a41a-1740e536345c" >
		<http:listener doc:name="Listener" doc:id="f56bb1e7-afaf-44ab-b513-6236f5733dd1" config-ref="HTTP_Listener_config" path="/datetime"/>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;now()]" doc:name="Set Payload" doc:id="ac0bf6e9-78b0-4e5c-bb2b-355bffb658a3" />
	</flow>
</mule>
